@charset "UTF-8";

/* 
Paleta de cores:
verde: #49a09d
lilas: #552874
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #552874;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.479);
    transition: width .2s, height .2s;
    transition-timing-function: linear;
}

#login>#imagem {
    display: block;
    background: #552874 url("../imagens/background.jpg") no-repeat;
    background-size: cover;
    height: 200px;
}

#login>#formulario {
    display: block;
    padding: 10px;
}

#login>#formulario h1 {
    text-align: center;
}

#formulario div.campo {
    background-color: #552874;
    margin: 9px 0;
    padding: 5px;
}

#formulario div.campo>label {
    display: none;
}


#formulario>form>input {
    display: block;
    width: 100%;
    background-color: #49a09d;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#formulario>form>input:hover {
    background-color: #377976;
}

#formulario>form>a {
    display: block;
    width: 100%;
    border: solid #49a09d 1px;
    text-align: center;
    padding: 10px;
    font-size: .9rem;
    margin-top: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: #49a09d;
    background-color: white;
}

#formulario>form>a:hover {
    background-color: #49a09d;
    color: white;
}